{
  "YOUR_STEAM_ID_HERE": {
    "auth_code": "YOUR_AUTH_CODE_HERE",
    "share_code": "YOUR_SHARE_CODE_HERE"
  },
  "YOUR_STEAM_ID_HERE_2": {
    "auth_code": "YOUR_AUTH_CODE_HERE_2",
    "share_code": "YOUR_SHARE_CODE_HERE_2"
  }
}